body {
    background-image: url(https://cdn.wallpapersafari.com/32/54/vMZwuI.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction h1 {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    
    width: 1200px;
    padding: 10px;
    border: 5px solid darkblue;
    background-color: darkcyan;
    border-radius: 25px;
    margin: 20;
}

#starters_image_div {
    border: 5px solid darkblue;
    background-color: black;
    display: inherit;
    padding: 5px;
    width: 405px;
    margin: auto;

}

.introduction h2 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.list {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bolder;
}

.pokemon_images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.pokemon_names {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.pokemon_description {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.each_pokemon_container {
    margin: 20px;
    margin-top: 80px;
}

#bulbasaur_container {
    width: 1200px;
    padding: 10px;
    border: 5px solid darkseagreen;
    background-color: darkolivegreen;
    border-radius: 25px;
}

#charmander_container {
    width: 1200px;
    padding: 10px;
    border: 5px solid orangered;
    background-color: orange;
    border-radius: 25px;
}

#squirtle_container {
    width: 1200px;
    padding: 10px;
    border: 5px solid blue;
    background-color: darkturquoise;
    border-radius: 25px;
}

footer {
    margin-top: 200px;
}
